html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-background {
  background-color: #282c34;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-image: url(../../public/elden-ring-bg.jpg) ;

}

.App-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(5px + 2vmin);
}

